body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
nav,
a,
section,
article,
aside,
div,
header,
footer,
form,
input,
figure,

ul{
  margin: 0;
  padding: 0;
}
/* #946447 */
ul {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 25px;
}
h1{
  font-size: 45px;
  font-weight: 600;
}
h2{
  font-size: 25px;
  font-weight: 600;
}
h3{
  font-size: 20px;
  font-weight: 600;
}
h4{
  font-size: 18px;
  font-weight: 600;
}
p{
  font-size: 14px;
}
body{
  color: #757574;
  font-family: 'Roboto', sans-serif;
}
a{
  color:#565656;
}
a:hover{
  color:#43AB48;
}
a:hover, p:hover{
  text-decoration: none;
}
button{
  background-color: #7F9B28;
  color: #fff;
  border: unset;
  padding: 12px;
  cursor: pointer;
  outline: #7F9B28;
}
button:focus{
  outline: unset;
}
p, .form-group{
  margin-bottom: 10px;
}
input, select{
  outline: unset;
}
section{
  padding:25px 0;
}
.container{
  max-width: 1200px;
}
.form-control:focus, .btn:focus{
  box-shadow:unset !important;
  border-color: #ddd;
}
.carousel-inner{
  display: flex;
  align-items: center;
  color: #fff;
}
.content .carousel-inner{
  max-height: 350px;
}
/* may 5 */
.top-slider{
  /* background:#FFBE5D; */
  height: 45px;
  /* background-color: #f5f789e0; */
  background-color: #edf6cf;
  text-align: center;
  padding: 10px;
}
.top-slider .carousel-inner{
  color: #5c5c5c;
}

.top-slider p{
  font-weight: bold;
}
.closebtn{
  position: absolute;
  font-size: 25px;
  right: 0;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  border-radius: 50%;
  z-index: 999;
}
/* may 5 */
.top-header{
  /* background: #000;
  color:#fff; */
  background: #fff
  color: #6C7175;
  border-bottom: red;
}
.top-left-content{
  display: inline-flex;
}
.top-left-content li{
  padding: 10px 15px;
}
.top-left-content li:last-child{
  padding:10px 15px
}
.top-left-content li:first-child{
  border-right: 1px solid #ddd;
  padding-left: 15px;
  font-weight: 600;
  font-size: 15px;
}
.top-left-content li .fab{
  padding: 0 7px;
  color: #6c7175;
}
/* edited on june6 */
.top-left-content li .fab:hover{
  color: #03a84e;
}
.top-left-content li input::-moz-selection, .top-left-content li input::selection  { 
  color: #fff;
  background-color: #000;
}





.expand-search{
  padding:10px 0 !important;
}
.expand-search input[type=search] {
  background-image:  url("../images/search.png");
  background-size: 18px;
  background-repeat: no-repeat;
  width: 30px;
  padding:0 12px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  border:unset;
  border-radius: unset;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  filter: invert(100%); 
  -webkit-filter: invert(100%); 
  background-position-y:3px; 
  background-position-x:3px; 

}
.expand-search input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  font-weight: 600;
  border-bottom:1px solid;
}
/* 06.06 */
.expand-search input[type=search]:focus {
  width: 300px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  outline:unset;
  border-bottom:1px solid;
  filter: invert(20%);
}
.expand-search [type=search]{
  background: unset;
}




.account-login{
  display: none;
}
.account.active .account-login{
  margin-top: 10px;
  display: block;
  width: 200px;
  position: absolute;
  background:#565656;
}
.account.active .account-login li a{
  padding: 10px 15px;
  display: block;
  color: #fff;
}
.top-header .row{
  align-items: center;
}
.top-right{
  text-align: right;
}
.top-right-content{
  display: inline-flex;
  align-items: center;
}

/* 06.06 */
.top-right-content .dropdown-menu.show{
  position: absolute;
  transform: translate3d(0px, 30px, 0px) !important;
  top: 0px !important;
  /* left: 0px !important; */
}
.top-right-content .dropdown-menu{
  /* transform: translate3d(0px, 30px, 0px) !important; */
  min-width: 200px;
  left: -50px;
}

.top-right-content li{
  margin-right: 15px;
}
.top-right-content li a{
  padding: 12px 15px;
  cursor: pointer;
}
/* 06.07 */
.top-right-content li:nth-child(2) a{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.top-right-content li:nth-child(2){
  margin-right: 0;
}
.top-right-content li:nth-child(2) img{
  filter: invert(100%); 
  -webkit-filter: invert(100%);
}
.flag{
  text-align: left;
}
.flag img{
  max-width: 55px;
}
.dropdown img{
  max-width: 30px;
  border-radius: 50%;
}
.dropdown-menu li{
  margin-right: 0;
}
.dropdown-menu {
  padding: 0;
}
.dropdown-menu li a{
  display: block;
  padding: 7px; 
}

/* edited on may 3 */
.main-menu{
  background-color:#b44747;
  box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
} 
/* may 3 */
.main-menu .navbar-nav li .dropdown-menu .nav-link{
  color: #565656 !important ;
}
.main-menu .navbar-nav li .dropdown-menu .nav-link:hover{
  color: #9bb44a !important ;
}
.main-menu .navbar-nav li .nav-link{
  color: #fff !important ;
  font-size: 15px;
  font-weight: 600;
}

/*  */
.placeicon{
  margin-right: 0 !important;
  border-radius:25px;
  padding: 10px 25px;
  font-size: 14px;
  background: #efefef;
  width:calc(100% - 85px) !important;
}

/* slider edit */


.slider-text{
  color: #fff;
  /* background:rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius:10px 0 10px 0px; */
}

/*banner-slider*/

/* .banner-slider .slick-slide img{
  width: 100%;
  height: auto;
  } */
  .banner-slider .slide-item .slider-text{
    position: absolute;
    left: 6%;
    top: 60%;
    align-items: center;
    width: 88%;
    transform: translateY(-50%);
  }
  .slick-dots{
    bottom: 20px !important;

  }
  .slick-dots li{
    background:rgba(255, 255, 255, 1);
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
  }
  .slick-dots li.slick-active{
    background-color: #9bb44a !important;
    opacity: .75;
  }
  .slick-dots li button{
    width: 15px !important;
    height: 15px !important;
  }

  .slick-prev:before,.slick-next:before{
    display: none;
  }
  .banner-slider .slick-prev, .banner-slider .slick-next{
    z-index: 1
  }
  .banner-slider .fa-angle-left, .banner-slider .fa-angle-right{
    font-size: 25px;
    color: #f5f5f5;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #33333396;
  }
  .banner-slider .slick-prev{
    left: 15px;
  }
  .banner-slider .slick-next{
    right:30px;
  }

/*
.features{
margin:25px 0;
}*/
.all-features{
  /* background-color: #efefef; */
  padding: 25px;
  border-radius: 5px;
  background-color: #94B62C;
  color: #fff;
}
.all-features ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.all-features li{
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
}
.all-features li img{
  position: relative;
  bottom: 5px;
}
.major-products{
  margin-top: 0;
}
.see-all{
  display: flex;
  justify-content: space-around;
  padding:20px 0;
  background-color: #fff;
}
.see-all p, .see-all a{
  font-weight: 600;
}
.see-all a{
  color: #7F9B28;
  font-size: 14px;
}
.product-name{
  padding: 10px 20px 20px 10px;
  background-color: #fff; 
}
.product-name p{
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.product-name .price{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: #7f9b28;
}
.product-view-all .view-all{
  font-weight: 600;
  color: #7F9B28;
  margin-bottom: 25px;
}
.add-to-cart, .product-view-all{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.add-to-cart a:first-child{
  color: #888;
  font-weight: 500;
  border: 1px solid #DEE2E6;
  border-radius: 30px;
  padding: 10px 20px;
}
.add-to-cart a:first-child:hover{
  color:#7f9b28;
}
.add-to-cart a:last-child{
  padding: 10px 10px;
}
.add-to-cart{
  max-width: 175px;
  margin: 0 auto;
  justify-content: space-around;
}
.product-view-all .nav-link {
  font-size: 25px;
  /* margin-bottom: 20px; */
  font-weight: 600;
  padding: 5px 10px 0 0 ;
  margin-left: 1.5rem;
}
.product-view-all .nav-link:hover{
  border-color: transparent;
}
.product-view-all .nav-link.active{
  opacity: 1;
  border: unset;
  background-color: #9bb447;
  color: #fff;
  padding: 4px 24px;
}
.product-view-all .nav-tabs{
  border-bottom: unset;
}
.popular-products .major-product, .product-tab .major-product{
   /*  box-shadow: unset;
    border:1px solid #ddd;
    border-radius: 5px; */
    box-shadow: 0 0 5px #ddd;
    position: relative;
  }
  .thumbnail {
    text-align: center;
    padding: 5px;
    position: relative;
  }
  .thumbnail a{
    display: block;
    height: 230px;
    overflow: hidden;
  }

  .major-product a img{
    transition: 0.8s;
  }
  .major-product a:hover img{
    transition: 0.8s;
    transform: scale(1.1);
  }

  .dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }
  .dropdown.show .dropdown-menu{
    max-height: 300px;
    opacity: 1;
    padding: 8px 0;
    border: 0;
    box-shadow: 2px 0px 8px #2929290f;
  }
  /* 06.06 */
  .main-menu .dropdown .dropdown-menu li {
    padding:0 1.2em;
  }
  .main-menu .dropdown .dropdown-menu li a{
    padding:8px 0;
    border-bottom: 1px solid #f2f2f2;
  }
  .main-menu .dropdown .dropdown-menu li:last-child> a{
    border: 0;
  }
  .main-menu.sticky-header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: #b44747;
    box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
    padding: 8px 0 ;
    animation: smoothScroll 1s forwards;
    z-index: 998;
    transition: padding 0.2s ease-in-out 0s;
  }

  @keyframes smoothScroll {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .footer{
    background-color:#f9f9f9;
    margin-bottom: 0;
    padding-top: 40px;
    /* padding-bottom: 25px; */
    
  }
  .footer .footer-content{
    position: relative;
    z-index: 2;
  }
  .footer-list li{
    padding: 5px 0;
  }
  .footer-content p{
    margin-bottom: 10px;
    font-size: 15px;
  }
  .footer-content .footer-icons a{
    padding: 8px;
  }
  .footer-content a, .copyright-text p{
    font-size: 15px;
  }
  .footer-content .fab{
    font-size: 25px;
  }
  .copyright-footer{
    align-items: center;
  }
  .payment-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .copyright-text{
    text-align: right;
  }
  .row-list{
    margin-bottom: 10px;
    border-bottom: 3px solid #ddd;
  }
  .custom-btn{
    display: none;
  }
  .close:before{
    display: none;
  }
  .footer-content h3{
    margin: 35px 0; 
  }
  .footer-content h3:before{
    content: '';
    border-bottom: 1px solid #43AB48;
    width: 100px;
    height: 40px;
    position: absolute;
  }
  .btn-default, .close{
    display: none;
  }
  .footer .form-inline{
    position: relative;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 3px;
    margin-top: 25px;
    flex-wrap: nowrap;
    align-items: center;
  }
  .footer .form-inline .form-group{
    flex-grow: 2;
    margin-bottom: 0 !important;
  }

  .footer .form-inline input[type=email]{
    height: 100%;
    width: 100%;
    border: 0;
    background-color: transparent !important;
  }
  .footer .form-inline button{
    border-radius: 3px;
    padding: 9px 1em;
  }
  .footer .row-list{
    position: relative;
  }
  .footer .row-list .image-logo{
    position: absolute;
    height: 180px;
    bottom: 0;
    right: 18%;
    filter: invert(4%);
  }
  .footer .row-list .image-logo img{
    height: 100%;
    width: auto;
    object-fit: contain;
  }


  /*category-products*/
  .category-product{
    box-shadow: 0 0 3px #efefef;
  }
  .category-thumbnail{
    position: relative;
    overflow: hidden;
  }
  .category-thumbnail a img{
    transition: all .8s ;
    display: block;
    margin:0 auto;
  }
  .category-thumbnail a:hover img{
    transition: all .8s ;
    transform: scale(1.1);
  }
  .product-type{
    text-align: center;
    background-color: #fafafa;
    padding: 10px 0;
  }
  .product-type h3{
    font-weight: 400;
    color: #000;
    margin: 5px 0;
  }
  .top-selling h2, .testimonial-heading h2 {
    text-align: center;
    position: relative;
  }
  .top-selling span, .testimonial-heading h2 span {
    position: relative;
    background-color: #fff;
    z-index: 1;
    padding:0 5px;
  }
  .top-selling h2:before, .testimonial-heading h2:before{
    content: "";
    background: #cacaca;
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
  }
  .testimonial-content{
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 5px #ddd;
    margin:20px 0;
  }
  .testimonial-content p:before{
    content: "\f10d";
    font-family: Fontawesome;
    float: left;
    margin-right: 10px;
  }
  .testimonial-content h3{
    font-style: italic;
    margin:15px 0;
    font-weight: 500;
  }
  .autoplay .slick-prev, .autoplay .slick-next{
    font-size: 25px;
    color: #888;
  }
  .autoplay .slick-prev:hover, .autoplay .slick-next:hover{
    color: #888;
  }
  .autoplay .slick-prev{
    left: -10px;
  }
  .autoplay .slick-next{
    right: -10px;
  }

  /*single-product*/
  .single-main-thumb{
    margin-bottom: 5px;
  }
  .single-main-thumb .slick-slide img{
    width: 100%;
    cursor: zoom-in;
  }
  .pager-thumbnail .pager-thumb{
    width: auto !important;
    margin-right: 5px;
  }
  .pager-thumbnail .pager-thumb img{
    max-width: 75px;
    cursor: pointer;
  }
  .singel-product-detail{
    width: 80%;
    margin:0 auto;
  }
  .singel-product-detail .product-title {
    margin-bottom: 10px;
  }
  .singel-product-detail .product-title h2, .singel-product-detail .product-detail h2,
  .related-products h2{ 
    font-weight: 400;
    font-size: 20px;
    color:#000;
    margin-bottom: 5px;

  }
  .singel-product-detail .product-title span, .singel-product-detail p.product-stock,
  .singel-product-detail p.product-views{
    font-size: 15px;
  }
  .product-status{
    display: flex;
    flex-wrap: wrap;
  }
  .product-status p{
    margin-right: 25px;
  }
  .singel-product-detail p.product-stock,
  .singel-product-detail p.product-views{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .singel-product-detail p.product-stock span ,
  .singel-product-detail p.product-views span{
    background: #9a2e2e;
    color: #fff;
    padding: 2px 10px;
    left: 1px;
    margin-left: 5px;
    border-radius: 3px;
  }
  .singel-product-detail p.product-price{
    font-weight: 400;
    color:#000;
    font-size: 25px;
  }
  .singel-product-detail form{
    display: inline-block;
    margin: 15px 0;
  }
  .singel-product-detail form input{
    padding: 10px;
    width: 75px;
    text-align: center;
  }
  button.wishlist{
    background-color: unset;
    color: #000;
    border: 1px solid #7F9B28;
  }
  .lightspeed-box.lsb-active{
    z-index: 999 !important;
  }
  .singel-product-detail .col-md-12{
    margin-top: 15px;
  }
  ul.social-network {
    display: inline;
  }
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  .icoGift img{
    width: 30px;
  }
  .singel-product-detail .row a.icoGift span{
    top: 5px;
    left: 5px;
    position: relative;
  }
  .product-faq .card{
    margin-bottom: 10px;
    border: unset;
  }
  .product-faq button{
    width: 100%;
    text-align: left;
    padding:15px 15px 15px 0;
    position: relative;
    text-decoration: unset !important;
    color: #b44747;
    transition: none;

  }
  .product-faq button:active , .product-faq button:focus{
    outline: none;
    border: none;
    transition: none;
  }
  .product-faq .card-header{
    padding:0;
    background: unset;
  }
  .product-faq .card-body{
    border-bottom: 1px dashed #ddd;
    padding:10px 0;
    font-size: 14px;
  }
  .product-faq button.btn.btn-link.collapsed:before{
    content: '+';
    position: absolute;
    right: 0;
  }
  .product-faq button.btn.btn-link:before{
    content: '-';
    position: absolute;
    right: 0;
  }
  .product-faq button:hover{
    text-decoration: unset;
  }
  .related-products{
    margin-top: 50px;
  }
  .related-products h2{
   text-align: left;
   /* border-bottom: 1px solid; */
   margin-bottom: 10px;
   font-size: 20px;
   font-weight: bold;
   color: #9cb549;
 }
 .multiple-items button{
  z-index: 999;
}
.multiple-items a{
  margin:3px;
}
.page-menu{
  margin:0;
} 
.page-menu ul.breadcrumb li+li:before {
  padding: 8px;
  color: #000;
  content: "|";
}

.top-slider .carousel-item p{
  margin-bottom: 0;
}


.multiple-items .slick-prev, .multiple-items .slick-next{
  font-size: 25px;
  color: #888;
}
.multiple-items .slick-next{
  right: -35px;
}
.multiple-items .slick-prev:hover, .multiple-items .slick-next:hover{
  color: #888;
}


.related-products .multiple-items .slick-prev{
  left: -17px;
  font-size: 18px;
}
.related-products .multiple-items .slick-next{
  right: -25px;
  font-size: 18px;
}
/*cart-page*/
.cart-item-img{
  text-align: center;
}
.cart-item-img img{
  width: 150px;
  height: auto;
}
.cart-item-info .row{
  align-items: center;
}
.cart-item-name h3, .cart-item-name h4{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.cart-price ul li, .update-product ul li{
  display: inline-block;
}
.prduct-number p{
  display: flex;
  justify-content: space-between;
}
.cart-price ul li, .update-product ul li{
  padding:0 3px;
  margin-bottom: 5px;
}
.cart-price ul, .update-product ul{
  text-align: center;
  margin-bottom: 0;
}
.cart-price ul li p{
  margin-bottom: 10px;
}
.cart-price ul li+li{
  border-left: 1px solid #e4e4e4;
}
.update-product ul #qty1{
  width: 75px;
  padding:6px 0;
  text-align: center;
}
.update-product ul button{
  background: unset;
  color:#888;
  border:1px solid #888 ;
  padding: 8px 20px;
}
.update-product ul button:hover{
  color:#e01e1e;
}
.update-product ul li span{
  border: 1px solid #ddd;
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px 5px;
  height: 30px;
}
.price-info .col-sm-12{
  margin-bottom: 15px;
}
.cart-price h2 {
  margin-bottom: 15px;
}
.cart-items-list{
  margin:0 0 15px 0;
  /* border:2px solid #ddd; */
  border-radius: 10px;
  padding:25px 15px;
  align-items: center;
}
.prduct-number p{
  margin-bottom: 0;
}
.prduct-number p::selection, .prduct-number p span::selection, .prduct-number p input::selection{
  background:#fff !important;
}
.cart-amount h3, .cart-amount h2, .delivery-type h3, .net-total div{
 margin-bottom: 14px;
 font-weight: 600;
 font-size: 16px;
}
.net-total{
  box-shadow: 0 0 9px #dddddd8c;
  border-radius: 5px;
  padding: 20px;
}
.breadcrumb{
  margin-bottom: 0;
  background-color: transparent;
}
.page-menu-content{
  padding-bottom:0;
}
.product-checkout{
  overflow:auto;
}
.checkout-table{
  width: 100%;
  background: #f9f9f9;
}
.checkout-table thead{
  background: #efefef;
}
.checkout-table th, .checkout-table td{
  padding:15px 10px;
  text-align: center;
}
.checkout-table tr th:first-child, .checkout-table tr td:first-child{
  text-align: left;
}
.checkout-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.checkout-total ul {
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.checkout-total ul li {
  display: inline-block;
  padding: 20px 40px;
  text-align: left;
}
.checkout-total ul li p, .checkout-netamount h2, .checkout-netamount h4{
  margin-bottom: 10px;
}
.checkout-total ul li h2{
  margin-bottom: 0;
}
.checkout-netamount{
  margin: 25px 0;
}
.checkout-netamount {
  text-align: right;
  background: #7F9B28;
  padding: 15px;
  border-radius: 10px;
  color:#fff;
}
.checkout-info button{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.checkout-info .btn-link:focus, .checkout-info .btn:focus{
  text-decoration: unset;
  border-color: #f7f7f7;
}
.checkout-info .card-body button{
  width: auto;
}
.checkout-info .card-body h5{
  margin-bottom: 15px;
}
.checkout-info .card-body input{
  /* width: 100%; */
  border:unset;
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
}
.checkout-info .card-body select{
  border: unset;
  border-bottom: 1px solid #000;
}
.checkout-info .card-body .contact-radio span{
  margin-right: 20px;
}
.checkout-info .card-body .contact-radio input{
  width: auto;
  margin-right: 5px;
}
.checkout-info button p, .checkout-info button a{
  font-size: 16px;
  color: #000;
  text-transform: capitalize;
}
.checkout-info button,.checkout-info button:hover{
  text-decoration: unset;
}
.checkout-info .card-header h2 span{
  padding: 3px 8px;
  margin-right: 15px;
  background: #666;
  color: #fff;
  font-size: 14px
}
.order-review{
  width: 100%;
  border: 1px solid #e6e6e6;
  margin-bottom: 15px;
}
.order-review thead{
  background: #f5f5f5;
}
.order-review tbody{
  border-bottom:1px solid #e6e6e6;
}
.order-review tfoot{
  font-weight: 600;
}
.order-review th, .order-review td{
  padding:5px;
}

.delivery-type input[type='radio']{
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: 3px solid #ddd;
  position: relative;
  top: 6px;
}
.delivery-type input[type='radio']:before {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 2px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.delivery-type  input[type="radio"]:checked:before {
  background: #7f9b28;
}

.delivery-type input[type="radio"]:checked {
  border-color: #7f9b28;
}
.delivery-type span{
  font-size: 14px;
  margin-right: 40px;
  font-weight: 400;
}


/*mobile menu*/

.sidenav {
  height: 100%;
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333;
  padding:10px 30px;
  transition: 0.5s;
  transform: translateX(-500px);
  z-index:333;
  text-align: left;

}
.sidenav.active{
  transform: translateX(0);
  z-index:999;
}
.sidenav .cancel {
 top: 0px;
 left: 90%;
 font-size: 35px;
 position: absolute;
 color: #ddd;
 padding: 10px;
 background: #333;
}
.cancel .fa-times{
  padding: 30px;
  font-size: 25px;
}
.btn-group{
  display: block;
  width: 350px;
}
.has-sub-menu{
  position: relative;
}
.sub-menu-icon{
  position: absolute;
  right: 0;
  line-height: 45px !important;
}
#mySidenav li{
  line-height: 45px;
}
#mySidenav li a{
  font-weight: 700;
  color:#f5f5f5;
}
.has-sub-menu ul li{
  padding-left: 25px;
}
.mobile-menu-list a.active{
  position: relative;
  color:#7f9b28 !important;
}
.mobile-menu-list .active:after{
  content: '';
  border-bottom: 2px solid #7f9b28;
  width: 35px;
  top: 25px;
  left: 0;
  position: absolute;
}
/* may 5 */
.mobile-main-menu .row{
  padding:5px 0;
  background:#b44747;
  align-items: center;
  box-shadow: 0px 5px 10px #0000000f;
}
.mobile-main-menu{
  display: none;
}
.mobile-main-menu .mobile-search{
  text-align: right;
}
.mob-menu form input:focus{
  outline: unset;
}
.mob-menu form{
  background:#fff;
  line-height: initial;
  display: flex;
  padding: 15px;
}
.mob-menu form input{
  max-width: 200px;
  width: 100%;
  border: unset;
}
.mobile-form input{
  border-radius: unset;
}
.mobile-search-form .form-slide{
  display: flex;
}
/* may 5 */
#mobile-trigger{
  color:#fff;
}
.mobile-form .form-slide{
  display: flex;
}


/*mobile menu closed*/

#btn-scrollup{
  bottom: 50px;
  line-height: 1.2;
  padding: 13px 17px;
  position: fixed;
  right: 13px;
  text-align: center;
  border-radius: 50%;
  background: #7f9b28;
  cursor: pointer;
  display: none;
  z-index: 222;
}
#btn-scrollup .fa-angle-up{
  color:#fff;
}


@media (max-width: 1200px){
  .add-to-cart a:first-child{
    padding: 10px 18px;
  }
  .add-to-cart a:last-child{
    padding: 10px 7px;
  }
}
@media (max-width: 1010px){
  .main-menu, .secondary-menu{
    display: none;
  }
  .mobile-main-menu{
    display: block;
  }
}

@media (max-width: 991px){
  .add-to-cart a:first-child{
    padding: 10px 7px;
  }
  .product-name{
    padding: 10px;
  }
  .singel-product-detail{
    width: auto;
  }
}
@media (max-width: 767px){
  .top-left, .top-right{
    text-align: center;
    margin-bottom:  10px;
  }
  .top-left-content li:first-child{
    padding-left: 0;
  }
  .top-right-content li a{
    padding-top:0px;
    padding-bottom: 0;
  }
  .top-left-content li:first-child{
    border-right: unset;
  }
  .slider-text{
    padding:10px;
  }
  br{
    display: none;
  }
  h1{
    font-size: 30px;
  }
  .banner-slider .slide-item .row{
    left: 15px;
    right: 15px;
    top: 20%;
  }
  .col-md-3, .col-md-2, .col-md-6, .remove,.cart-item-img{
    margin-bottom: 15px;
  }
  .payment-icon{
    justify-content: space-around;
  }
  .copyright-text p{
    text-align: center;
  }
  .product-name{
    padding: 20px;
  }
  .add-to-cart a{
    padding: 10px 12px !important;
  }
  .pager-thumbnail .pager-thumb{
    margin-bottom: 10px;
  }
  .top-right-content li a{
    padding: 12px;
  }
  .singel-product-detail form input{
    border: 1px solid #888;
    margin-bottom: 15px;
  }
  .singel-product-detail button{
    margin-bottom: 15px;
  }
    /* .cart-price ul li+li{
      border:unset;
      } */
      .cart-item-name{
        text-align: center;
      }
    }
    @media (max-width: 600px){
      h1{
        font-size: 25px;
      }
      .mobile-main-menu .row{
        text-align: center;
      }
      .mobile-main-menu .row .col-sm-5, .mobile-main-menu .row .col-sm-2{
        margin-bottom: 10px;
      }
      .mobile-form button{
        padding:5px;
      }
      .slick-slider.slick-dotted{
        margin-bottom: 0 !important;
      }
      .banner-slider h1{
        margin-bottom: 5px;
      }
      .banner-slider .slide-item .row{
        top: 2px;
        bottom: 0;
      }
    }

    /* edited on april 8 by anjit*/
    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 98%;
      margin-top: -1px;
    }

    #navbarSupportedContent .dropdown.show .dropdown-menu{
      overflow: visible;

    }

    #navbarSupportedContent .dropdown.show .dropdown-menu.dropright {
      display: none;
    }


    /* edited on april 9 */
    #navbarSupportedContent .dropdown.show .dropdown-menu.dropright {
      display: none;
    }
    #navbarSupportedContent .dropdown.show .dropdown-submenu.dropright:hover >.dropdown-menu.dropright{
      display: initial !important;
    }

    /* responsive */
    .sidenav .cancel{
      font-size: 1.5rem;
      padding:12px 1rem;
      cursor: pointer;
    }
    .sidenav .cancel:hover{
      transform: rotate(90deg);
      transition: .3s ease;

    }

    /* cart-cirlce */
    .cart a{
     position: relative;
   }
   .cart a span{
    background-color: #9bb44a;
    font-size: 12px;
    color: #fff;
    height: 16px;
    display: inline-block;
    width: 16px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 14px;
  }
  .cart a::after{
    display: none;
  }
  .top-right-content .cart a img{
    border-radius: 0;
  }

  .top-right-content li.cart:nth-child(2) .dropdown-toggle {
    padding-right: 20px;
  }
  .top-right-content .dropdown-menu {
    transform: none !important;
    z-index: 9999 !important;
  }
  /* 06.06 */

  .top-right-content .dropdown-menu.show.cart-drop{
    /* transform: translate3d(-120px, 30px, 0px) !important; */
    max-height: 100vh;
    
  }
  .top-right-content .dropdown-menu.cart-drop{
    left: auto !important;
    right: -15px !important;
  }

  .top-right-content .cart-items-list{
    margin:0;
    border: 0;
    border-radius:0px;
    padding: 0 4px;
  }

  .top-right-content .cart-items-list .col, .top-right-content .cart-items-list .col{
    padding: 0;
  }

  .top-right-content .cart-item-img img{
    filter: none !important;
    border-radius: 0;
  }
  .top-right-content .cart-item-name h3{
    font-size: 14px;
    margin: 2px 0;
  }
  .top-right-content .cart-items-list .cart-item-name a{
    border: none !important;
  }
  .top-right-content .cart-items-list .close a{
    padding: 0;
    color: #ccc;
    border: 0 !important;
  }
  .top-right-content .row.cart-items-list{
    position: relative;
  }
  .top-right-content .cart-items-list .close{
    position: absolute;
    top: 2px;
    right: 5px;
    display: inline;
    color: #ccc;
  } 
  .top-right-content .cart-item-info{
    width: 100%;
  }

  .top-right-content .cart-item-name a{
    padding: 10px;
    padding-left: 10px;
    padding-left: 0;
    width: 90%;
    padding-bottom: 0;
  }
  .top-right-content .cart-item-name h3 span{
    font-size: 10px;
  }
  .top-right-content .cart-item-name .price{
    color: #9bb44a;
    font-size: 13px;
  }

  .top-right-content  .button{
    margin: 6px;
  }
  /* 06.07 */
  .top-right-content  .button a{
   color: #888;
   font-weight: 500;
   border: 1px solid #DEE2E6;
   border-radius: 30px;
   padding: 6px;
   text-align: center;
   margin: 8px;
 }
 .top-right-content  .button a:hover {
  color: #7f9b28;
}



.top-right-content  .button.view a{
  background-color: #9bb44a;
  border: 0;
  color: #fff;
}
.dropdown-menu.show.cart-drop {
  min-width: 250px;
  padding: 4px;
}

/* mob */

.mobile-menu-list .has-sub-menu a.collapsed>i{
  transform: rotate(0deg);
}
.mobile-menu-list .has-sub-menu a>i{
  transform: rotate(180deg);
}

/* banner */
.banner .slick-dotted.slick-slider{
  margin-bottom: 0;
}

/* nav responsive */


/* popular-products */

.popular-products .item{
  padding:6px 12px;
}
.popular-slider .slick-next , .testimonial .slick-next{
  right: 10px;
  background-color: #fff;
  font-size: 1.5em;
  color: #83a054;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
}
.popular-slider .slick-prev, .testimonial .slick-prev {
  left: 10px;
  background-color: #fff;
  font-size: 1.5em;
  color: #83a054;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  z-index: 99;
}

.testimonial-content>h2{
  color: #757574;
  text-align: left;
}
.major-product a img {
  transition: 0.8s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* testimonial-content */
.testimonial-content .image.text-center {
  height: 80px;
  width: 80px;
  overflow: hidden;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #ffffff5e;
}
.testimonial-content .image.text-center img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.testimonial-content h3 {
  font-style: normal;
  margin: 0px 0;
  font-weight: normal;
  text-transform: capitalize;
}

.testimonial-content > p:first-child{
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-menu .navbar-brand img{
  width: 130px;
  height: auto;
}
.main-menu .navbar-brand{
  padding: 0;
}
.main-menu .navbar{
  padding: 4px 0;
}


.mob-logo a .img-fluid{
  width: 100px;
  height: auto;
}

/* slider */

.banner-slider .slide-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-slider .slide-item{
  height: 500px;
}
.banner-slider .slide-item .btn{
  color: #fff;
  font-weight: 500;
  background-color: #94b62c;
  border-radius: 30px;
  padding: 13px 45px;
  text-align: center;
  text-transform: uppercase;

}
.banner-slider .slide-item h1{
  margin-bottom: 1rem;
 /*  background-image: linear-gradient(#94b62c, #94b62c);
  background-position: 0 80%;
  background-repeat: no-repeat; */
  display: inline-block;
  /* background-size: 100% 25%; */
  padding-right: 28px;
}
.dropright .dropdown-toggle::after{
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  border: 0;
  font-size: 12px;
  font-size: 11px;
  margin-left: 5px;
  transform: translateY(-0.5px);
}
.banner-slider .slide-item p{
  text-shadow: 1px 2px 2px #333;
  font-size: 1.2em;
}

/* BANNER */
.all-features li img {
  position: relative;
  bottom: 5px;
  width: 40px;
  filter: invert(1);
}

.slide .popular-products-content{
  padding-bottom: 0px;
}

.product-tab .product-tab-content  .view-all {
  position: absolute;
  top: 12px;
  right: 17px;
  color: #7f9b28;
  font-weight: bold;
}

/*  */
.product-tab .product-tab-content .product-view-all {
  border-bottom: 1px solid #9bb447;
  margin-bottom: 16px;
}
.testimonial-contents h2{
  margin-bottom: 0;
}


/* april 10 */
.cart .total{
  margin: 0 12px;
  font-size: 14px;

}

.cart .total span{
  float: right;
}

li.sale sup{
  background-color:#fff;
  color: #b44747;
  padding: 2px 4px;
  font-size: 9px;
  top: -10px;
  right: 4px;
}

/* feature */
.features{

}
.features li{
  position: relative;
  padding: 30px 25px;
  /* background-color: #0000000d; */
}
.features li i{
  position: absolute;
  top: 50%;
  left: -3px;
  /* color: rgba(255, 255, 255, 0.22); */
  transform: translateY(-60%);
  z-index: 0;
  color: rgba(180, 71, 71, 0.21);
}
.features li i::before{
  font-size: 2.5rem;
  margin: 0;

}
.features .all-features{
  padding: 0;
  /* background-color: #b44747; */
  background-color: #efefef;
  color: #b44747;
}



.product-cart-form {
  box-shadow: 0 0 9px #dddddd8c;
  border-radius: 5px;
}
.product-cart-form .cart-items-list{
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0;
  margin: 0;
  padding: 17px 0px;
  position: relative;

}
.cart-item-name h3{
  margin-bottom: 6px;
}

.cart-item-name h4 a {
  color: #bbb;
  font-size: 15px;
  margin-bottom: 0;
}
.product-cart-form .cart-items-list .price-info{
  /* position: relative; */
}
.product-cart-form .cart-items-list .clear {
  position: absolute;
  top: 12px;
  right: 18px;
  color: #bbb;
  text-transform: capitalize;
}


.product-cart-form .cart-items-list .description{
  align-items: center;
} 

.cart-total .checkout> a, .cart-total .checkout > button{
  color: #fff;
  font-weight: 500;
  border-radius: 30px;
  padding: 13px 20px;
  background-color: #9cb549;
  margin-top: 5px;
  display: inline-block;
}
/* singel-product-detail */
.singel-product-detail button.cartbtn{
  margin-right:12px;
  background-color: #9cb549;

}
.singel-product-detail form button{
  border-radius: 30px;
  padding: 13px 50px;
}

.singel-product-detail form input{
  margin-bottom: 20px;
}
.singel-product-detail form label{
  margin-right: 12px;
}

.singel-product-detail form label ~ span{
  border: 1px solid #ddd;
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px 5px;
  height: 30px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-bottom: 1px solid #EFEFEF;
  font-size: 14px;
  font-weight: 800;
}
.singel-product-detail .product-title h2 {
  font-size: 25px;
  font-weight: 800;
  color: #94B62C;
}
.cart-amount h2.section-title, .cart-item-name .pp{
  color: #b44747;
}

.cart-page .col-md-4.sticky .cart-total, .category-page .sticky{
  position: sticky;
  top: 100px;

}
.footer-content {
  padding: 0;
}



/* april 11 category-page / .06.06*/
.category-page .card-title, .checkout .checkout-info .card-header {
  background-color: #9bb44a;
  color: #b44747;
  margin-bottom: 0;
  /* padding: 12px 17px; */
  margin-bottom: 4px;
  /* border-radius: 10px 10px 0 0; */
  /* border: 1px solid #ddd; */
  background-color: transparent;

}
.category-page .card-title h3{
  margin-bottom: 0;
  float: left;
  color: #b44747;
  /* font-weight: normal; */
  font-weight: 600;
}
.category-page .list-group-item{
  padding: .75rem 0.0rem;
  border: 0;
}

.category-page .card-title .product-view-all{
  justify-content: flex-end;
}
.category-page .card-title .product-view-all label{
  margin-bottom: 0;
}
.category-page .col-12 > .card-body{
  padding: 8px;
}
.category-page .card-body .col-lg-4.col-sm-6.col-12{
  padding: 8px;
}
.category-page .card-body .major-product {
  box-shadow: 0 0 5px #ddd;
  position: relative;
}

.category-page .card-body.related{
  padding: 0;
}
.category-page .list-group-item:first-child {
  border-radius: 0;
  border: 0;
}
.card-title.help{
  margin-top: 1rem;
}
.card-body.related.help{
  padding:10px 0;
  /* border: 1px solid #ddd; */
  border-top: 0;
}
.card-body.related.help a{
  display: block;
  padding: 6px 0px;
}
.card-body.related.help a i{
  padding-right: 6px;
}

.category-page .card-body .hassub::before {
  content: '\f106';
  font-family: fontawesome;
  right: 25px;
  position: absolute;
  transition: 0.3s;
  transform: rotate(0deg);
  cursor: pointer;
}
.category-page .card-body .hassub.collapsed::before{
  transform: rotate(180deg);
}
.list-group-item:hover {
  color: #43AB48;
}
.category-page .card-body .collapse{
  /* border-top: 1px solid #ddd; */
  padding-left: 1em;
  transition: .3s ease;
}

.top-left-content li.top-sociallinks{
  padding-right: 0;
}

.expand-search input[type="search"]{
  -webkit-filter: invert(49%);
  filter: invert(49%);
  background-position: 0px 5px;
  background-size: 16px;
  width: 20px;

}
.expand-search input[type="search"]:focus{
  background-color: transparent;
  width: 260px;
  padding-left: 22px;
  font-weight: normal;
}
.expand-search{
  margin-left: 10px;
}

/* april 11 */
.slide-product-content .multiple-items a{
  box-shadow: 2px 2px 5px #dddddd91;
  padding: 3px;
  transition: .3s ease;
  overflow: hidden;
}

.slide-product-content .multiple-items a:hover p.price{
  background-size: 100% 100%;
  transform-origin: right;
  color: #fff;
}
.slide-product-content .multiple-items a p.price{
  color: #b44747;
  padding: 5px;
  margin: 0;
  font-size: 17px;
  background-size: 0% 100%;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-image: linear-gradient(#a3ba5a, #a3ba5a);
  transition: .3s ease;
  transform-origin: left;
}
.slide-product .with-sticky{
  position: sticky;
  top: 120px;
}

/* checkout */
.text-muted{
  color: #bbb !important;
}
.checkout .checkout-info .card-header h2{
  color: #666;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
}
.checkout .checkout-info .card{
  border: 2px dashed #ddd;
  margin-bottom: 1rem;
}

.checkout .checkout-info .card-header{
  border: 0;
  border-bottom: 2px dashed #ddd;
  padding: 19px;
  background-color: #fbfbfb;
}
.checkout .checkout-info .card-body p a{
  text-decoration: underline;
}

.checkout .checkout-info .card-body .contact-radio label{
  margin-right: 15px;
} 
.checkout .checkout-info .card-body input[type=email], .checkout .checkout-info .card-body input[type=tel], .checkout .checkout-info .card-body input[type=number], .checkout .checkout-info .card-body input[type=text], .checkout .checkout-info .card-body select{
  height: 40px;
  border-bottom: 1px solid #0000004a;
  width: 100%;
}
.checkout .checkout-info .payment-img li{
  margin: 0 6px;
}
.checkout .checkout-info .payment-img img {
  height: 26px;
  width: auto;
}

.checkout .cart-total-content .contact-radio {
  display: flex;
  align-items: baseline;
}
.checkout .cart-total-content .label {
  margin: 0;
  margin-left: 6px;
  font-weight: normal;
  font-size: 15px;
}
.checkout .cart-total-content .label a{
  margin-left: 4px
}
.checkout .cart-total-content .text-muted{
  font-weight: normal;
}




@media (max-width: 1100px){
  .category-page .col-12.col-md-4.col-lg-3{
    padding-right: 0;
  }
}

@media (max-width: 1010px){
  .expand-search{
    display: none;
  }
  .thumbnail a {
    height: 210px;
  }
  .banner-content{
    padding-top: 25px;
  }
  .cart-page .col-md-4.sticky .cart-total, .category-page .sticky{
    top: -15px;
  }
  .cart-page .col-md-4.sticky{
    padding-left: 0; 
  }
}

@media(max-width: 945px){

}
@media (max-width: 851px){

  .banner-slider .slide-item{
    height: 350px;
  }

  .testimonial-content{
    padding: 13px;
  }
  .testimonial-content .image.text-center{
    height: 60px;
    width: 60px;
  }
  .testimonial-content h3{
    font-size: 13px;
  }

}
@media (max-width: 782px){
  .features li{
    padding: 15px;
  }
  .features li i{
    left: -13px;
  }
}
@media (max-width: 768px){
  .slide-product .lsb-preview {
    display: block;
    height: 350px;
  }
  .slide-product .lsb-preview img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .with-sticky .related-products {
    display: none;
  }
  .cart-page .col-md-4.sticky{
    padding-left: 15px; 
  }
  .cart-page .col-md-4.sticky .cart-total-content{
    padding-top: 0;
  }
  .category-page .col-12.col-md-4.col-lg-3{
    padding-right: 15px;
    /* order: 2; */
  }


}

/* 06.06 */
@media (max-width: 601px){
  .footer .form-inline .form-group{
    width: 60%;
  }
}

@media (max-width: 575.5px){
  section, .banner-content {
    padding: 10px 0;
  }
  .mobile-main-menu .col-sm-7.col-12{
    order: 3;

  }
  .mobile-main-menu .mobile-form button {
    padding: 5px 20px;
  }
  .mobile-main-menu .col-sm-3.col-6 .mob-logo{
    text-align: left;
    margin-bottom: 3px;
  }
  .mobile-main-menu .col-sm-2.col-6{
    text-align: right;
  }
  .mob-logo a .img-fluid {
    width: 70px;
    height: auto;
  }
  .top-header> .container >.row> .col-md-6.col-sm-5.col-12 {
    display: none;
  }
  .top-right {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .banner-slider .slick-next, .banner-slider .slick-prev{
    display: none !important;
  }
  .banner-slider .slide-item h1{
    margin-bottom: 0;
  }
  .banner-slider .slide-item p{
    font-size: 1em;
  }
  .banner-slider .slide-item .btn {
    padding: 9px 30px;
  }
  .banner-slider .slide-item {
    height: 250px;
  }
  h2{
    margin-bottom: 8px;
  }
  .features li{
    padding: 10px 15px;
  }
  .features li i::before {
    font-size: 2rem;
  }
  .features li i {
    left: -5px;
    color: #ffffff42;
  }
  .all-features ul{
    justify-content: center;
  }

  .product-cart-form .cart-items-list{
    padding: 10px 0px;
  }
  .product-cart-form .cart-item-name h4 a{
    font-size: 13px;
  }
  .product-cart-form .cart-item-img img {
    width: 90px;
    height: auto;
  }
  .cart-item-name h3, .cart-item-name h4 {
    font-size: 14px;
    /* margin-bottom: 2px; */
  }
  .product-cart-form .cart-price h2 {
    margin-bottom: 0px;
    font-size: 20px;
  }
  .product-cart-form .cart-price ul li p {
    margin-bottom: 3px;
  }

  .delivery-type span {
    font-size: 14px;
  }
  .delivery-type input[type="radio"] {
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    top: 4px;
  }
  .cart-total .checkout > a, .cart-total .checkout > button{
    font-size: 15px;
    padding: 10px 16px;
  }
  .product-cart-form .cart-items-list{
    padding-bottom: 0;
  }
  .row.description .col-md-6 {
    margin-bottom: 4px;
  }
  .slide-product .lsb-preview {
    display: block;
    height: 290px;
  }
  .singel-product-detail form button{
    border-radius: 30px;
    padding: 8px 20px;
  }
  .row.description .cart-item-name, .row.description  .update-product ul{
    text-align: left;
  }
  .row.description .col-sm-6{
    padding-left: 0;
  }
  .update-product ul li span {
    padding: 0px 10px;
    height: 20px;
    line-height: 20px;
  }
  .update-product ul #qty1 {
    width: 46px;
    padding: 3px 0;
    text-align: center;
  }
  .update-product ul li{
    margin: 8px 0px;
  }
  .cart-amount h3, .cart-amount h2, .delivery-type h3, .net-total div {
    margin-bottom: 8px;
    font-weight: normal;
  }

}

@media (max-width: 420px){
  .breadcrumb {
    font-size: 13px;
    padding: 7px;
  }
  .slick-dots li{
    height: 10px !important;
    width: 10px !important;
  }
  .product-type h3{
    font-size: 14px;
  }
  .product-type h3 ~ p{
    display: none;
  }
  .col-md-3.col-sm-6.col-6, .col-md-6.col-sm-6.col-6 {
    padding: 0 6px;
    margin-bottom: 12px;
  }
  .hemp-products-content {
    width: 95%;
    margin: 0 auto;
  }
  .slick-dots {
    bottom: 5px !important;
  }
  .wooden-products-content{
    padding: 0;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .product-view-all .view-all {
    margin-bottom: 4px;
    font-size: 16px;
  }
  .popular-products .item {
    padding: 6px;
  }
  .product-tab .product-tab-content .view-all{
    font-size: 16px;
    top: 8px;
  }
  .product-name {
    padding: 10px;
  }
  .product-name p {
    margin-bottom: 5px;
  }
  .product-name .price {
    font-size: 14px;
  }
  .add-to-cart a {
    padding: 7px 16px !important;
  }
  .thumbnail a {
    height: 190px;
  }
  .product-view-all .nav-link {
    font-size: 18px;
    font-weight: normal;
    padding: 4px 6px;
    margin-left: 0;
    margin-right: 1rem;
  }
  .nav-tabs .nav-item {
    margin-bottom: -2px;
  }
  .all-features li img {
    width: 30px;
  }
  .product-tab .product-tab-content .product-view-all{
    margin-bottom: 10px;
  }

  .product-tab .product-tab-content .thumbnail a {
    height: 160px;
  }
  .product-tab .product-tab-content .product-name p {
    font-weight: normal;
    font-size: 13px;
  }
  .product-tab .product-tab-content  .product-name {
    padding: 6px;
  }
  .product-tab .product-tab-content  .add-to-cart a:first-child{
    font-size: 13px
  }
  .testimonial-contents .col-12.col-md-6.slick-slide {
    padding: 6px;
    margin-bottom: 0;
  }
  .testimonial-contents {
    padding-bottom: 0;
  }
  .footer{
    padding: 0;
  }
  .footer-content a, .copyright-text p {
    font-size: 13px;
  }
  .footer-content h3 {
    margin: 15px 0;
  }
  .footer-content h3::before{
    height: 33px;
  }
  .footer-content {
    margin-bottom: 0px;
  }
  .pager-thumbnail .pager-thumb img {
    max-width: 45px;
  }
  .product-faq button{
    padding: 0;
  }
  .singel-product-detail button {
    margin-bottom: 0px;
  }

  .category-page .card-title, .category-page .list-group-item{
    padding: 8px;
  }
  .category-page .card-title h3{
    font-size: 15px;
    line-height: 1.6;
  }
  .mobile-main-menu .mobile-form button{
    display: none;
  }
  .footer-content .col-lg-2:last-child h3{
    display: none;
  }
  .footer-content .fab {
    font-size: 18px;
    margin-top: 10px;
  }
  .row-list{
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .payment-icon svg, .payment-icon img {
    width: 45px;
    margin-right: 10px;
    height: 40px;
    object-fit: contain;
  }


  footer .col-md-3{
    margin-bottom: 5px;
  }

}


.pages{
  margin-bottom: 100px !important;
  text-align: justify;
}

#search span{
  color: #94B62C;
  font-weight: bolder;
}

.search-result{
  margin-bottom: 20px;
}

.placeorder{
  background-color: #E1E1E1 !important;
  color: #666666 !important;
}


/*****************************************************************************************/

/* late edited on april 27 */

/* late edited on april 27 */
.login-page .bg{
  background-color: #9bb44a;
  background-image: url('../images/buddha.jpg');
  background-repeat: no-repeat;
  background-position: center;
  /* may 9 */
  background-color: #ededed;
}  
.login-page .container> .card{
  box-shadow: 0 0 42px 0 rgba(0, 0, 0, 0.08);
  border: 0;
  border-radius: 10px;
  overflow: hidden;

}

.login-page article{
  padding:3em;
}

.login-page .col-sm-12:first-child article{
  padding-right: 2em;

}
.login-page form{
  padding: 1em;
  /* border: 1px solid #dee2e6 ; */
  border-top: 0;
  border-radius: .25rem;
  padding: 2em;
  /* may 9/ 06.06 */
  background-color: #7d7d7d;
  border: 0;
  border-top-left-radius: 0;

}
.login-page .card-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}
  /* .login-page .card-title::first-letter{
    font-size: 3rem;
    color: #9bb44a;
    } */
    .login-page button{
      display: block;
      color: #fff;
      font-weight: 500;
      border-radius: 30px;
      padding: 8px 15px;
      /*  */
      background-color: #9cb549;
      margin-top: 1em;
      /* may 9 */
      background-color: #4ab45b;
      box-shadow: 1.3px 1px 18px rgba(0, 0, 0, 0.06);
    } 
    .login-page .forget{
      margin: 8px 0 0;
      display: inline-block;
    }
    .login-page .nav-link{
      padding: .5rem 2rem;
    }
    #profile ~ p{
      font-size: 14px;
      margin-top: 1em;
    }
    .login-page h1{
      font-size: 5em;
      color: #fff;
      /* may 9 */
      color: #03a84e;
    }
    .login-page h1 ~ .small-title{
      font-size: 35px;
      /* color: #bababa; */
      color: #03a84e;
    }
    button.disabled{
      cursor: no-drop;
    }

    .product-name p:first-child {
      color: red;
      height: 33px;
      overflow: visible;
    }
    .product-name p:first-child a{
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @media (max-width: 835px){
      .login-page article{
        padding:2em;
      }
      .login-page .card-title {
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }
      .login-page .card-title::first-letter{
        font-size: 1.5em;
        color: #9bb44a;
      }
      .login-page .nav-link{
        padding: .5rem 1.4rem;
      }
      .login-page h1{
        font-size: 4em;
        margin-bottom: 0;
      }
      .login-page h1 ~ .small-title{
        font-size: 30px;
        color: #878787;
      }

    }
    @media (max-width: 767.5px){
      .login-page .bg{      
        display: none;
      }
      .login-page article{
        padding:3em;
      }
    } 
    @media (max-width: 537.5px){
     .login-page article{
      padding:0px;
    }
    .login-page .container> .card{
      box-shadow: none;
    }
    .login-page .card-title{
      font-size: 22px;
    }
  }
  @media (max-width: 437.5px){
    .login-page form{
      font-size: 13px;
      padding: 1.3em;
    }
    .login-page .card-title{
      font-size: 20px;
    }
  }
  @media (max-width: 437.5px){
   .login-page .nav-tabs{
    font-size: 13px;
  }
  .login-page .card-title{
    font-size: 16px;
  }
  .login-page .card-title::first-letter{
    font-size: inherit;
    color: inherit;
  }
}



/* late edited on april 30 */
.category-thumbnail{
  height: 240px;
}
.beads-bracelets .category-thumbnail, .wooden-products-content .category-thumbnail{
  height: auto;
}
.category-thumbnail a img{
  height: 100%;
  width: 100%;
  object-fit:cover;
}
@media (max-width: 1060px){
  .category-thumbnail{
    height: 190px;
  }
}
@media (max-width: 805px){
  .product-type h3{
    font-size: 16px;
    height: 30px;
  }
  .hemp-products-content{
    padding: 0;

  }
}
@media (max-width: 642px){
  .product-name {
    padding: 10px;
  }
}
@media (max-width: 408px){
 .category-thumbnail{
  height: 140px;
}

.product-name .price {
  font-size: 15px;
}
}


/* about-us */
.about-us{

}
.about-us img{
  height: 650px;
  width: 100%;
  object-fit: cover;  
}

.about-us h2{
  margin-bottom: 0;
}
.about-us small{
  color: #bbb;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.about-us small::after {
  content: "";
  display: inline-block;
  background-color: rgba(155, 180, 73, 0.5);
  height: 2px;
  width: 50%;
  margin-left: 18px;
}
.about-us .paragraph{
  margin-top: 25px;
  font-size: 17px;
  line-height: 1.7;
  color: #666;
}
.about-us .paragraph p{
  font-size: inherit;
}
.about-us .second-img img {
  padding: 4rem 0 4rem 1rem;
}
.about-us .first-img{
  position: relative
}
.about-us .first-img:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #deddd9;
  z-index: -1;
  transform: rotate(1deg);
}
.about-us .first-img{
  padding: 0;
}
.about-us .first-img img{
  transform: rotate(-1deg);
}

/* contact us */
.contact-us img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;  
}

.contact-us h2{
  margin-bottom: 0;
}
.contact-us small{
  color: #bbb;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.contact-us small::after {
  content: "";
  display: inline-block;
  background-color: rgba(155, 180, 73, 0.5);
  height: 2px;
  width: 50%;
  margin-left: 18px;
}

.contact-us form{
  margin-top: 25px;
  font-size: 17px;
  color: #666;
  border: 1px solid #ddd;
  padding: 2em 1.5em;
  border-radius: 6px;

}
.contact-us input{
  height: 50px;
}
.contact-us .form-group {
  margin-bottom: 20px;
}
.contact-us button{
  border: 0;
  width: 50%;
  text-align: center;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #9cb549;
  color: #fff;
}
.contact-us .information {
  background-color:#b44747;
  color: #fff;
  border-radius: 6px;
  padding: 1.5em;
  line-height: 2;
}
.contact-us .social{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.contact-us .social li{
  margin-right: 12px;
  font-size: 1.5em;
}
.contact-us a{
  color: #fff;
}
.contact-us a i{
  margin-right: 8px;
}
.contact-us > .row:first-child{
  margin-bottom: 30px;
}
.contact-us iframe{
  border-radius: 6px;
}

.checkout .form-check svg{
  width: 40px;
  height: auto;
}
.payment-icon li:first-child svg{
  transform: scale(1.8);
}
.checkout .payment .form-check label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout .payment input[type="radio"]{
  transform: translateY(10px);
}
.checkout .payment .form-check{
  border: 1px solid #ddd;
  padding: 6px 1em 6px 2em;
  border-radius: 6px;
  margin-bottom: 15px;
}
.checkout .payment .form-check.active{
  border-color: #9cb549;
  /* background-color: rgba(156, 181, 73, 0.2); */
  /* background-color: rgb(249, 249, 249); */
}
.checkout .form-check:last-child{
  margin-bottom: 0;
}

/* may 3 */
.out-of-stock .bg , .single-thumb .bg{
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: rgba(155, 180, 74, 0.9);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 8px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-shadow: 2px 2px 6px #00000042;
}
.out-of-stock .bg .card-title , .single-thumb .bg .card-title{
  border: 0;
  color: #fff;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0;
}

.out-of-stock .bg a, .single-thumb .bg a{
  height: auto;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
}
.out-of-stock .bg a:hover, .single-thumb .bg a:hover{
  color: rgb(155, 180, 74);
  background-color: #fff;
}

#outofstock form{
  padding: 1em;
}
#outofstock form .form-group{
  margin-bottom: 1em;
}
#outofstock form button{
  font-weight: 500;
  background-color: #7f9b28;
  border-radius: 30px;
  padding: 10px 50px;
  color: #fff;
  border: 0;
}

.out-of-stock .out + a img{
  width: 16px;
  margin-right: 3px;

}
.out-of-stock .add-to-cart{
  max-width: 100%;
  width: 100%;
  align-items: center;
  padding: 0;
}

/* .06.06 */

.out-of-stock .out{
  font-size: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #b44747e0;
  padding: 1em 1em .9em;
  /* border: 4px solid #fff */
}

.out-of-stock .out + a{
  color: #888;
  font-weight: 500;
  border: 1px solid #DEE2E6;
  border-radius: 30px;
  padding: 10px 20px;
}

#outofstock .modal-title{
  width: 90%;
}
/* .category-page .thumbnail a{
  height: 230px;
}
*/








@media (max-width: 992px){
  .about-us img{
    height: 500px;
  }
} 
@media (max-width: 767.5px){
  .about-us img{
    height: 500px;
  }
  .about-us .first-img:after{
    content: none;
  }
  .about-us .first-img{
    padding:0 15px;
  }
  .about-us .first-img img{
    transform: none;
  }
  .about-us .second-img img {
    padding: 0;
  }
  .contact-us img, .contact-us iframe{
    height: 300px;
    margin-top: 25px;
  }

}
@media (max-width: 658.5px){
  .about-us img{
    height: 350px;
  }
  .contact-us img, .contact-us iframe{
    height: 200px;
    margin-top: 25px;
  }
}
@media (max-width: 488px){
  .about-us .paragraph {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
  }
  .about-us img{
    height: 250px;
  } 
  .contact-us input{
    height: 40px;
  }
  .contact-us .form-group {
    margin-bottom: 1em;
  }
  .contact-us .information, .contact-us form{
    padding: 1em;
  }
  .contact-us > .row:first-child, .contact-us img{
    margin: 0px !important;
  }
  #outofstock .modal-title {
    width: 90%;
    font-size: 14px;
  }
}
@media (max-width: 378px){
  .mobile-form .form-slide{
    width: 100%;
    margin-top: 3px;
    height: 38px;
  }
  .mobile-form .form-slide input{
    font-size: 13px;
  }
  .mobile-main-menu .row {
    align-items: flex-end;
  }


}

/* may 10 edited */
.login-page .nav-tabs .nav-link.active{
  background:   #7d7d7d;
  color: white;
  border: 0;
}

.login-page .nav-tabs .nav-item {
  margin-bottom: -3px;
}

.login-page label, .login-page .forget{
  color: #f2f2f2;
}
.login-page label a{
  color: #f1f1f1;
  text-decoration: underline;
}
.login-page .form-control{
  color: #333;
  background-color: #fff;
  /* border: none;
  cursor: pointer; */
}
.login-page  .nav-tabs .nav-link:hover {
  border-color: transparent;
}
.login-page  .terms {
  color: #fff;
}
.payment-icon img{
  object-fit: contain;
}
.payment-icon svg{
  width: 45px;
  margin-right: 16px;
  height: 40px;
}
.row-list {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;

}
/* edited on may 17 */
.checkout-page .card.payment .form-control{
  background-color: transparent;
  border-radius: 0;
}
.checkout-page .card.payment .window{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.checkout-page .card.payment .window svg{
  width: 260px;
  fill: #ddd;
}
.checkout-page .card.payment .card-body .card-body{
  padding: 0;
  color: #ddd;
}
.ui-datepicker-calendar {
  display: none !important;
}
